.dashboard{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F5FA;
}

.courses{
  background-color: white;
  width:300px;
}

.menu{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: .111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.fa, .main h3{
    color: #B9B8BA;
    font-size: 20px;
}

.fa-bars, .main h3{
    padding-right:25%
}

.main h3{
    margin-top:-3px;
    color: #5B595B
}

.main {
    transition: margin-left .5s;
    padding: 20px;
    box-shadow: -7px -7px 35px 0 rgba(0, 0, 0, 0.2);
    width:100%;
    padding-left:30px;
    overflow-x: hidden;
  }

.courseImg{
    width:300px;
    height:300px
}

.searchBox{
    display: none;
}

.header{
    display:flex
}