@media (min-width: 750px) {
  .landing-page {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .landing-page h1:first-child {
    text-align: left;
    padding-left: 30px;
  }
  .reg-wrap {
    position: fixed;
    top: 40px;
    right: 10px;
  }
  .bluey {
    font-size: 45px;
  }
  h3:not(.bluey) {
    font-size: 20px;
    font-weight: 800;
  }
  .notSigned {
    margin-top: 40px;
  }
  .intro {
    padding-top: 0;
  }
  .intro .sign {
    margin-top: 0;
    font-size: 30px;
  }
}

.regWrap {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  margin: auto;
  padding: 10px 0;
  max-width: max(90%, 50%);
}